<!-- title, was messy, therefore separate file-->
<small-nav-bar [title]="'Dein Medikamentenplan'" [icon]="'fa-close'">
</small-nav-bar>

<!-- The body-->
<app-content-wrapper>
  <!-- The actual med-data goes here-->
  <div class="accordion w-100" role="tablist" id="accordion-1">
    <!-- index is necessary for bootstrap -->
    <toggle-item
      *ngIf="plan.morning.length > 0"
      [title]="'Morgens'"
      [medStatements]="plan.morning"
      [index]="'0'"
    ></toggle-item>
    <toggle-item
      *ngIf="plan.midday.length > 0"
      [title]="'Mittags'"
      [medStatements]="plan.midday"
      [index]="'1'"
    ></toggle-item>
    <toggle-item
      *ngIf="plan.evening.length > 0"
      [title]="'Abends'"
      [medStatements]="plan.evening"
      [index]="'2'"
    ></toggle-item>
    <toggle-item
      *ngIf="plan.night.length > 0"
      [title]="'Nachts'"
      [medStatements]="plan.night"
      [index]="'3'"
    ></toggle-item>
    <toggle-item
      *ngIf="plan.unknown.length > 0"
      [title]="'Andere'"
      [medStatements]="plan.unknown"
      [index]="'4'"
    ></toggle-item>
  </div>

  <!-- Submit Button-->
  <button
    class="btn btn-primary"
    type="button"
    style="margin-top: 95px"
    [routerLink]="''"
  >
    Übernehmen
  </button>
</app-content-wrapper>
