<div class="row h-100">
  <div [ngClass]="classesOuterWrapper">
    <div [ngClass]="classesInnerWrapper">
      <!-- Instruction is rendered here (if available )-->
      <h1
        class="text-center"
        *ngIf="instructionTitle"
        class="smallMarginBottom"
      >
        {{ instructionTitle }}
      </h1>

      <!-- SubInstruction (aka more but smaller text) is rendered here (if available )-->
      <p *ngIf="instructionSubTitle" class="text-center bigMarginBottom">
        {{ instructionSubTitle }}
      </p>
      <ng-content><!-- Content goes here--> </ng-content>
    </div>
  </div>
</div>
