<small-nav-bar [title]="'Scanner'" icon="fa-close"> </small-nav-bar>
<app-content-wrapper
  [instructionTitle]="'QR-Code ins Fenster halten'"
  [instructionSubTitle]="subTitle"
>
  <!-- the scanner component-->
  <zxing-scanner
    (scanSuccess)="onCodeResult($event)"
    [formats]="allowedFormats"
    *ngIf="!hideScanner"
    class="camera-field"
    (camerasNotFound)="onErrorDetected()"
    (scanError)="onErrorDetected()"
  >
  </zxing-scanner>

  <!-- simple error message-->
  <p *ngIf="hideScanner" class="center-text">
    Error! Either invalid code or no access rights to camera.
  </p>
</app-content-wrapper>
